#navbar{
	height:100%;
	margin-top:0%;
	margin-bottom:3%;
}


@media only screen and (min-width : 768px){
	#navbar{
		width:100%;
		margin-top:-20px;
	}
}

#toggle{
	background-color: #ffe769;
}

#main-content{
	background-color: #999999;
}

#main-content{
	margin-top:25px;
}

 #heading{
	font-size: 20px;
}